{% extends 'base.html' %}
{% load static %}
{% block body %}


        <!--=====================================
                    BANNER PART START
        =======================================-->
        <section class="home-index-slider slider-arrow slider-dots">
            <div class="banner-part banner-1 style=background: url({{settings_data.logo_banner.url}}) no-repeat center; ">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-lg-6">
                            <div class="banner-content">
                                <h1>{{settings_data.text_banner}}</h1>
                                <p>{{settings_data.text_banner2}}</p>
                                <div class="banner-btn">
                                    <a class="btn btn-inline" href="#">
                                        <i class="fas fa-shopping-basket"></i>
                                        <span>انضم الينا</span>
                                    </a>
                                    <a class="btn btn-outline" href="offer.html">
                                        <i class="icofont-sale-discount"></i>
                                        <span>احصل علي خصومات</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="banner-img">
                                <img src="{{settings_data.logo_banner.url}}" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-part banner-2">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-8 col-lg-6">
                            <div class="banner-img">
                                <img src="{{settings_data.logo_banner.url}}">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="banner-content">
                                <h1>{{settings_data.text_banner}}</h1>
                                <p>{{settings_data.text_banner2}}</p>
                                <div class="banner-btn">
                                    <a class="btn btn-inline" href="/products/">
                                        <i class="fas fa-shopping-basket"></i>
                                        <span>انضم الينا</span>
                                    </a>
                                    <a class="btn btn-outline" href="/products/">
                                        <i class="icofont-sale-discount"></i>
                                        <span>احصل علي خصومات</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    BANNER PART END
        =======================================-->



        <!--=====================================
                    FEATURED PART START
        =======================================-->
        <section class="section feature-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-heading">
                            <div class="banner-btn">
                                <a class="btn btn-inline" href="/products/">
                                    <i class="fas fa-shopping-basket"></i>
                                    <span>فروعنا</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2">
                    {% for object in object_list %}
                    <div class="col">
                        <div class="feature-card">
                            <div class="feature-media">
                                <div class="feature-label">
                                    <label class="label-text feat">{{object.flag}}</label>
                                </div>
                                <button class="feature-wish wish">
                                    <i class="fas fa-heart"></i>
                                </button>
                                <a class="feature-image" href="/products/{{object.slug}}">
                                    <img src="{{object.image.url}}" alt="product">
                                </a>
                                <div class="feature-widget">
                                    <a title="Product Compare" href="/products/{{object.slug}}" class="fas fa-random"></a>
                                    <a title="Product Video" href="/products/{{object.slug}}" class="venobox fas fa-play" data-autoplay="true" data-vbtype="video"></a>
                                    <a title="Product View" href="/products/{{object.slug}}" class="fas fa-eye" data-bs-toggle="modal" data-bs-target="#product-view"></a>
                                </div>
                            </div>
                            <div class="feature-content">
                                <h6 class="feature-name">
                                    <a href="/products/{{object.slug}}">{{object.name}}</a>
                                </h6>
                                <div class="feature-rating">
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="icofont-star"></i>
                                    <a href="/products/{{object.slug}}">(3 Reviews)</a>
                                </div>
                                <h6 class="feature-price">
                                    <del>{{object.subtitle}}</del>
                                </h6>
                                <p class="feature-desc">{{object.subtitle}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-lg-12">
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    FEATURE PART END
        =======================================-->


        <!--=====================================
                    COUNTDOWN PART START
        =======================================-->
        <section class="section countdown-part">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 mx-auto">
                        <div class="countdown-content">
                            <h3>special discount offer </h3>
                            <p>احصل علي عروض و خصومات تصل 100% فور الاشتراك</p>
                            <div class="countdown countdown-clock" data-countdown="2024/07/30">
                                <span class="countdown-time"><span>00</span><small>days</small></span>
                                <span class="countdown-time"><span>00</span><small>hours</small></span>
                                <span class="countdown-time"><span>00</span><small>minutes</small></span>
                                <span class="countdown-time"><span>00</span><small>seconds</small></span>
                            </div>
                            <a href="/products/" class="btn btn-inline">
                                <i class="fas fa-shopping-basket"></i>
                                <span>JOIN now</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5">
                        <div class="countdown-img">
                            <img src="{{settings_data.logo}}" alt="countdown">
                            <div class="countdown-off">
                                <span>20%</span>
                                <span>off</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    COUNTDOWN PART END
        =======================================-->

        {% endblock %}
