{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% load i18n %}

    <head>
        <!--=====================================
                    META TAG PART START
        =======================================-->
        <!-- REQUIRE META -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- AUTHOR META -->
        <meta name="email" content="{{ settings_data.email_us }}">
        <meta name="profile" content="">

        <!-- TEMPLATE META -->
        <meta name="name" content="fitness group">
        <meta name="title" content="fitness group - fitness Template">
        <meta name="keywords" content="fitness, gym, swim, running, kids">
        <!--=====================================
                    META-TAG PART END
        =======================================-->

        <!-- WEBPAGE TITLE -->
        <title>{{ settings_data.name }}</title>

        <!--=====================================
                    CSS LINK PART START
        =======================================-->
        <!-- FAVICON -->
        <link rel="icon" href="{% static 'images/favicon.png' %}">

        <!-- FONTS -->
        <link rel="stylesheet" href="{% static 'en/fonts/flaticon/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'en/fonts/icofont/icofont.min.css' %}">
        <link rel="stylesheet" href="{% static 'en/fonts/fontawesome/fontawesome.min.css' %}">

        <!-- VENDOR -->
        <link rel="stylesheet" href="{% static 'en/vendor/venobox/venobox.min.css' %}">
        <link rel="stylesheet" href="{% static 'en/vendor/slickslider/slick.min.css' %}">
        <link rel="stylesheet" href="{% static 'en/vendor/niceselect/nice-select.min.css' %}">
        <link rel="stylesheet" href="{% static 'en/vendor/bootstrap/bootstrap.min.css' %}">

        <!-- CUSTOM -->
        <link rel="stylesheet" href="{% static 'en/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'en/css/index.css' %}">
        <link rel="stylesheet" href="{% static 'en/css/product-details.css' %}">
        <!--=====================================
                    CSS LINK PART END
        =======================================-->
    </head>
    <body>
        <div class="backdrop"></div>
        <a class="backtop fas fa-arrow-up" href="/"></a>
        
        <!--=====================================
                    HEADER TOP PART START
        =======================================-->
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-5">
                        <div class="header-top-welcome">
                            <p>Welcome {{ settings_data.name }}!</p>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-3">
                        <div class="header-top-select">
                            <div class="header-select">
                                <i class="icofont-world"></i>
                                <select class="select">
                                    <option value="english" selected>english</option>
                                    <option value="arabic">arabic</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-4">
                        <ul class="header-top-list">
                            <li><a href="/products/">offers</a></li>
                            <li><a href="/">contact us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--=====================================
                    HEADER TOP PART END 
        =======================================-->

        <!--=====================================
                    HEADER PART START
        =======================================-->
        <header class="header-part">
            <div class="container">
                <div class="header-content">
                    <div class="header-media-group">
                        <button class="header-user"><img src="{{settings_data.logo.url }}" alt="user"></button>
                        <a href="/products/"><img src="{{settings_data.logo.url}}" alt="logo"></a>
                        <button class="header-src"><i class="fas fa-search"></i></button>
                    </div>

                    <a href="/products/" class="header-logo">
                        <img src="{{ settings_data.logo.url }}" alt="logo">
                    </a>
                    <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
                        <div class="d-flex justify-content-end mb-3 mb-lg-0">
                            {% if user.id is None %}
                            <div class="widget-header">
                                <small class="title text-muted">Welcome guest!</small>
                                <div> 
                                    <a href="{% url 'login' %}">Sign in</a> <span class="dark-transp"> | </span>
                                    <a href="{% url 'register' %}"> Register</a>
                                </div>
                            </div>
                            {% else %}
                            <div class="widget-header">
                                <small class="title text-muted">Welcome {{user.first_name}}!</small>
                                <div> 
                                    <a href="{% url 'dashbord' %}">Dashbord</a> <span class="dark-transp"> | </span>
                                    <a href="{% url 'logout' %}"> log out</a>
                                </div>
                            </div>
    
                            {% endif %}
                        </div> <!-- widgets-wrap.// -->
                    </div> <!-- col.// -->
    
                    <form class="header-form">
                        <input type="text" placeholder="Search anything...">
                        <button><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
        </header>
        <!--=====================================
                    HEADER PART END
        =======================================-->

        <!--=====================================
                    NAVBAR PART START
        =======================================-->
        <nav class="navbar-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="navbar-content">
                            <ul class="navbar-list">
                                <li class="navbar-item dropdown">
                                    <a class="navbar-link" href="/">{% translate "home" %}</a>
                                </li>
                                <li class="navbar-item">
                                    <a class="navbar-link" href="/products">{% translate "gym" %}</a>
                                </li>
                            </ul>
                            <div class="navbar-info-group">
                                <div class="navbar-info">
                                    <i class="icofont-ui-touch-phone"></i>
                                    <p>
                                        <small>{% translate "call us" %}</small>
                                        <span>{{ settings_data.call_us }}</span>
                                    </p>
                                </div>
                                <div class="navbar-info">
                                    <i class="icofont-ui-email"></i>
                                    <p>
                                        <small>{% translate "email us" %}</small>
                                        <span>{{ settings_data.email_us }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!--=====================================
                    NAVBAR PART END
        =======================================-->

        {% block body %}
        {% endblock body %}

        <!--=====================================
                     FOOTER PART START
        =======================================-->
        <footer class="footer-part">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xl-3">
                        <div class="footer-widget">
                            <a class="footer-logo" href="/">
                                <img src={{ settings_data.logo.url }} alt="logo">
                            </a>
                            <p class="footer-desc">{{ settings_data.subtitle }}</p>
                            <ul class="footer-social">
                                <li><a class="icofont-facebook" href="{{ settings_data.facebook }}"></a></li>
                                <li><a class="icofont-instagram" href="/"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="footer-widget contact">
                            <h3 class="footer-title">contact us</h3>
                            <ul class="footer-contact">
                                <li>
                                    <i class="icofont-ui-email"></i>
                                    <p>
                                        <span>{{ settings_data.email_us }}</span>
                                        <span>{{ settings_data.call_us }}</span>
                                    </p>
                                </li>
                                <li>
                                    <i class="icofont-ui-touch-phone"></i>
                                    <p>
                                        <span>{{ settings_data.call_us }}</span>
                                    </p>
                                </li>
                                <li>
                                    <i class="icofont-location-pin"></i>
                                    <p>{{ settings_data.address }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="footer-widget">
                            <h3 class="footer-title">quick Links</h3>
                            <div class="footer-links">
                                <ul>
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Gym</a></li>
                                    <li><a href="#">Swim</a></li>
                                    <li><a href="#">Body Building</a></li>
                                    <li><a href="#">Fighter</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Location</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Career</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="footer-widget">
                            <h3 class="footer-title">Download App</h3>
                            <p class="footer-desc">{{ settings_data.subtitle }}</p>
                            <div class="footer-app">
                                <a href="#"><img src="{% static 'images/google-store.png' %}" alt="google"></a>
                                <a href="#"><img src="{% static 'images/app-store.png' %}" alt="app"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="footer-bottom">
                            <p class="footer-copytext">&copy; All Rights Reserved by <a target="_blank" href=''>{{ settings_data.name }}</a></p>
                            <div class="footer-card">
                                <a href="#"><img src="{% static 'images/payment/jpg/01.jpg' %}" alt="payment"></a>
                                <a href="#"><img src="{% static 'images/payment/jpg/02.jpg' %}" alt="payment"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--=====================================
                      FOOTER PART END
        =======================================-->
        
        <!--=====================================
                    JS LINK PART START
        =======================================-->
        <!-- VENDOR -->
        <script src="{% static 'en/vendor/bootstrap/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'en/vendor/bootstrap/popper.min.js' %}"></script>
        <script src="{% static 'en/vendor/bootstrap/bootstrap.min.js' %}"></script>
        <script src="{% static 'en/vendor/countdown/countdown.min.js' %}"></script>
        <script src="{% static 'en/vendor/niceselect/nice-select.min.js' %}"></script>
        <script src="{% static 'en/vendor/slickslider/slick.min.js' %}"></script>
        <script src="{% static 'en/vendor/venobox/venobox.min.js' %}"></script>

        <!-- CUSTOM -->
        <script src="{% static 'en/js/nice-select.js' %}"></script>
        <script src="{% static 'en/js/countdown.js' %}"></script>
        <script src="{% static 'en/js/accordion.js' %}"></script>
        <script src="{% static 'en/js/venobox.js' %}"></script>
        <script src="{% static 'en/js/slick.js' %}"></script>
        <script src="{% static 'en/js/main.js' %}"></script> 
        <!--=====================================
                    JS LINK PART END
        =======================================-->
    </body>
</html>
