{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% load i18n %}

    <head>
        <!--=====================================
                    META TAG PART START
        =======================================-->
        <!-- REQUIRE META -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- AUTHOR META -->
        <meta name="author" content="">
        <meta name="email" content="ahmed007eg@gmail.com">
        <meta name="profile" content="">

        <!-- TEMPLATE META -->
        <meta name="name" content="fitness group">
        <meta name="title" content="fitness group - fitness Template">
        <meta name="keywords" content="fitness, gym, swim, runing, kids">
        <!--=====================================
                    META-TAG PART END
        =======================================-->

        <!-- WEBPAGE TITLE -->
        <title>Index Home - fitness group</title>

        <!--=====================================
                    CSS LINK PART START
        =======================================-->
        <!-- FAVICON -->
        <link rel="icon" href="images/favicon.png">

        <!-- FONTS -->
        <link rel="stylesheet" href="{% static 'en/fonts/flaticon/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'en/fonts/icofont/icofont.min.css' %}">
        <link rel="stylesheet" href="{% static 'en/fonts/fontawesome/fontawesome.min.css' %}">

        <!-- VENDOR -->
        <link rel="stylesheet" href="{% static 'en/vendor/venobox/venobox.min.css' %}">
        <link rel="stylesheet" href="{% static 'en/vendor/slickslider/slick.min.css' %}">
        <link rel="stylesheet" href="{% static 'en/vendor/niceselect/nice-select.min.css' %}">
        <link rel="stylesheet" href="{% static 'en/vendor/bootstrap/bootstrap.min.css' %}">

        <!-- CUSTOM -->
        <link rel="stylesheet" href="{% static 'en/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'en/css/index.css' %}">
        <link rel="stylesheet" href="{% static 'en/css/product-details.css' %}">

        <!--=====================================
                    CSS LINK PART END
        =======================================-->
    </head>
    <body>
        <div class="backdrop"></div>
        <a class="backtop fas fa-arrow-up" href="#"></a>
        
        <!--=====================================
                    HEADER TOP PART START
        =======================================-->
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-5">
                        <div class="header-top-welcome">
                            <p>Welcome fitness first !</p>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-3">
                        <div class="header-top-select">
                            <div class="header-select">
                                <i class="icofont-world"></i>
                                <select class="select">
                                    <option value="english" selected>english</option>
                                    <option value="arabic">arabic</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-7 col-lg-4">
                        <ul class="header-top-list">
                            <li><a href="offer.html">offers</a></li>
                            <li><a href="faq.html">need help</a></li>
                            <li><a href="contact.html">contact us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--=====================================
                    HEADER TOP PART END 
        =======================================-->



        <!--=====================================
                    HEADER PART START
        =======================================-->
        <header class="header-part">
            <div class="container">
                <div class="header-content">
                    <div class="header-media-group">
                        <button class="header-user"><img src="images/user.png" alt="user"></button>
                        <a href="index.html"><img src="images/logo.png" alt="logo"></a>
                        <button class="header-src"><i class="fas fa-search"></i></button>
                    </div>

                    <a href="index.html" class="header-logo">
                        <img src="images/logo.png" alt="logo">
                    </a>
                    <a href="login.html" class="header-widget" title="My Account">
                        <img src="images/user.png" alt="user">
                        <span>join</span>
                    </a>

                    <form class="header-form">
                        <input type="text" placeholder="Search anything...">
                        <button><i class="fas fa-search"></i></button>
                    </form>

                </div>
            </div>
        </header>
        <!--=====================================
                    HEADER PART END
        =======================================-->


        <!--=====================================
                    NAVBAR PART START
        =======================================-->
        <nav class="navbar-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="navbar-content">
                            <ul class="navbar-list">
                                <li class="navbar-item dropdown">
                                    <a class="navbar-link" href="/">  {% translate "home" %}</a>
                                </li>
                                <li class="navbar-item ">
                                    <a class="navbar-link " href="/products">{% translate "gym" %}</a>
                                </li>

                            </ul>
                            <div class="navbar-info-group">
                                <div class="navbar-info">
                                    <i class="icofont-ui-touch-phone"></i>
                                    <p>
                                        <small>{% translate "call us" %}</small>
                                        <span>{{settings_data.call_us}}</span>
                                    </p>
                                </div>
                                <div class="navbar-info">
                                    <i class="icofont-ui-email"></i>
                                    <p>
                                        <small>{% translate "email us" %}</small>
                                        <span>{{settings_data.emails_us}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!--=====================================
                    NAVBAR PART END
        =======================================-->





        {% block body %}

        {% endblock body %}






        <!--=====================================
                     FOOTER PART START
        =======================================-->
        <footer class="footer-part">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xl-3">
                        <div class="footer-widget">
                            <a class="footer-logo" href="#">
                                <img src="images/logo.png" alt="logo">
                            </a>
                            <p class="footer-desc">Adipisci asperiores ipsum ipsa repellat consequatur repudiandae quisquam assumenda dolor perspiciatis sit ipsum dolor amet.</p>
                            <ul class="footer-social">
                                <li><a class="icofont-facebook" href="#"></a></li>
                                <li><a class="icofont-instagram" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="footer-widget contact">
                            <h3 class="footer-title">contact us</h3>
                            <ul class="footer-contact">
                                <li>
                                    <i class="icofont-ui-email"></i>
                                    <p>
                                        <span>support@fitness group.com</span>
                                        <span>carrer@fitness group.com</span>
                                    </p>
                                </li>
                                <li>
                                    <i class="icofont-ui-touch-phone"></i>
                                    <p>
                                        <span>+120 279 532 13</span>
                                        <span>+120 279 532 14</span>
                                    </p>
                                </li>
                                <li>
                                    <i class="icofont-location-pin"></i>
                                    <p>1Hd- 50, 010 Avenue, NY 90001 United States</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="footer-widget">
                            <h3 class="footer-title">quick Links</h3>
                            <div class="footer-links">
                                <ul>
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Order History</a></li>
                                    <li><a href="#">Order Tracking</a></li>
                                    <li><a href="#">Best Seller</a></li>
                                    <li><a href="#">New Arrivals</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Location</a></li>
                                    <li><a href="#">Affiliates</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Carrer</a></li>
                                    <li><a href="#">Faq</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="footer-widget">
                            <h3 class="footer-title">Download App</h3>
                            <p class="footer-desc">Lorem ipsum dolor sit amet tenetur dignissimos ipsum eligendi autem obcaecati minus ducimus totam reprehenderit exercitationem!</p>
                            <div class="footer-app">
                                <a href="#"><img src="images/google-store.png" alt="google"></a>
                                <a href="#"><img src="images/app-store.png" alt="app"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="footer-bottom">
                            <p class="footer-copytext">&copy;  All Copyrights Reserved by <a target="_blank" href=''>mohamed mahran</a></p>
                            <div class="footer-card">
                                <a href="#"><img src="images/payment/jpg/01.jpg" alt="payment"></a>
                                <a href="#"><img src="images/payment/jpg/02.jpg" alt="payment"></a>
                                <a href="#"><img src="images/payment/jpg/03.jpg" alt="payment"></a>
                                <a href="#"><img src="images/payment/jpg/04.jpg" alt="payment"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--=====================================
                      FOOTER PART END
        =======================================-->
        

        <!--=====================================
                    JS LINK PART START
        =======================================-->
        <!-- VENDOR -->
        <script src="{% static 'en/vendor/bootstrap/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'en/vendor/bootstrap/popper.min.js' %}"></script>
        <script src="{% static 'en/vendor/bootstrap/bootstrap.min.js' %}"></script>
        <script src="{% static 'en/vendor/countdown/countdown.min.js' %}"></script>
        <script src="{% static 'en/vendor/niceselect/nice-select.min.js' %}"></script>
        <script src="{% static 'en/vendor/slickslider/slick.min.js' %}"></script>
        <script src="{% static 'en/vendor/venobox/venobox.min.js' %}"></script>

        <!-- CUSTOM -->
        <script src="{% static 'en/js/nice-select.js' %}"></script>
        <script src="{% static 'en/js/countdown.js' %}"></script>
        <script src="{% static 'en/js/accordion.js' %}"></script>
        <script src="{% static 'en/js/venobox.js' %}"></script>
        <script src="{% static 'en/js/slick.js' %}"></script>
        <script src="{% static 'en/js/main.js' %}"></script> 
        <!--=====================================
                    JS LINK PART END
        =======================================-->
    </body>
</html>






